# <font color='blue'>Data Science Academy</font>

## <font color='blue'>Fundamentos de Linguagem Python Para Análise de Dados e Data Science</font>

## <font color='blue'>Capítulo 4 - Exercícios</font>

In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.10.12

## Exercícios

In [ ]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.
lista1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lista1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
lista2 = [1, 2, 3, 4 ,5]
lista2

[1, 2, 3, 4, 5]

In [ ]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string
nome = "Rafael"
sobrenome = "Henrique"
nome_completo = nome + " " + sobrenome
print (nome_completo)

Rafael Henrique

In [ ]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla
tupla1 = (1, 2, 2, 3, 4, 4, 4, 5)
contando = tupla1.count(4)
contando

3

In [ ]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela
dict1 = {}
dict1

{}

In [ ]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
dict2 = {1:"um", 2:"dois", 3:"três"}
dict2

{1: 'um', 2: 'dois', 3: 'três'}

In [ ]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela
dict2[4] = 'quatro'
dict2

{1: 'um', 2: 'dois', 3: 'três', 4: 'quatro'}

In [ ]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores.
# Um dos valores deve ser uma lista de 2 elementos numéricos.
# Imprima o dicionário na tela.
dict3 = {"um": 1, "dois": 2, "três": [0, 1]}
dict3

{'um': 1, 'dois': 2, 'três': [0, 1]}

In [ ]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string,
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e
# o quarto elemento um valor do tipo float.
# Imprima a lista.
lista = ["oi", (0, 1), {"oi": "olá", "hello": "hi"}, 9.5]
lista

['oi', (0, 1), {'oi': 'olá', 'hello': 'hi'}, 9.5]

In [ ]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'
frase[0:18]

'Cientista de Dados'

# Fim

### Obrigado

### Visite o Blog da Data Science Academy - <a href="http://blog.dsacademy.com.br">Blog DSA</a>